html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  font-size: 16px;
}

header:not(.esri-popup__header) {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 1rem;
  z-index: 10;
  font-family: 'Miriam Libre', sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 0.25rem;
  boz-sizing: border-box;
  color: #333333;
}

#content,
#map {
  width: 100%;
  height: 100%;
}

.esri-popup__content {
  width: 400px;
  height: 400px;
}
